*{
    font-family: cursive;
    
}
#start{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#list{
    font-size: 18px;
}
#header{
    background-color: #FF6666;
}
#li:hover{
   background-color: black;
   border-radius: 25px;
   text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    
}

.box {
    max-width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    padding: 20px;
    
}

.box::before {
    content: "";
    position: absolute;
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%; 
    background: repeating-conic-gradient(
        from var(--a, 0deg), red 0%, red 0%, transparent 0%, transparent 60%, red 70%
    );
    animation: rotate1 2s linear infinite;
    transform-origin: center;
}

@keyframes rotate1 {
    0% {
        transform: rotate(var(--a, 0deg)); /* Starting angle */
    }
    100% {
        transform: rotate(calc(var(--a, 0deg) + 360deg)); /* Ending angle */
    }
}
.box::after{
    content: "";
    position: absolute;
    width: 99%;
    height: 98%;
    left: 5px;
    top: 5px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* background:linear-gradient(270deg,rgba(247,190,169),rgba(239,152,167),rgba(255,160,122)); */
}
.about-me{
    font-size: 20px;
    position: relative;
    inset: 2px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    line-height: normal; 
    margin-top: 20px;
}
.profile-img{
    position: relative;
    width: 200px;
    height: auto; 
    border-radius: 50%;
    margin-right: 20px;
    z-index: 20; 
    border: 3px solid black;
}
/* Add this CSS to your stylesheet */
.animated-nav {
    animation: slideIn 1s forwards;
    opacity: 0;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
#list .nav-item {
    margin-left: 10px; /* Adjust as needed */
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply animation to the navbar toggler */
.navbar-toggler {
    animation: slideDown 0.5s ease;
}